.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formularioLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.emailInput{
  width: 65vw;
}

.senhaInput{
  width: 65vw;
}

.botaoLogin{
  width: 65vw;
}

@media (min-width: 720px) {
  .emailInput{
    width: 20vw;
  }
  
  .senhaInput{
    width: 20vw;
  }
  
  .botaoLogin{
    width: 20vw;
  }
}